{% extends 'base.html.twig' %}

{% block title %}Edit EDT{% endblock %}

{% block content %}
    <h1>Edition EDT</h1>

    {{ include('edt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adminIndex') }}">Retour au Dashboard</a>

{#    {{ include('edt/_delete_form.html.twig') }}#}
{% endblock %}
